@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Esteban&family=Noto+Sans+SC:wght@100..900&display=swap');

body {
  font-family: "Beiruti", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("https://images.pexels.com/photos/19782063/pexels-photo-19782063/free-photo-of-close-up-of-candles-with-flower-petals.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
  ;
}

}

#background {
  height: 1000px;
  width: 100%;
  background-image: url("");
}

header {

  font-family: "Beiruti", serif;
}

h1 {
  font-family: "Beiruti", serif;
  color: pink;
  letter-spacing: 1.5px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  font-size: large;
  margin: 50px;
}

#menu {
  list-style-type: none;
  color: pink;
  letter-spacing: 1.5px;
}

#menu>li {
  margin: auto;
}

#sections {
  list-style-type: none;
}

main {

  font-family: "Beirtuti", serif;
  flex: 1 0 auto 0;
}

footer {

  font-family: "Beirtuti", serif;
  height: 10%;
}

#socialmedia {
  list-style: none;
  text-align: center;
  padding: 50;
  display: flex;
  font-size: large;
  margin: 40px;
  justify-content: space-evenly;

}