@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Esteban&family=Noto+Sans+SC:wght@100..900&display=swap');

body {
  font-family: "Beiruti", serif;
  display:flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(39, 23,1);
}

header {
  font-family: "Beiruti", serif;
  margin: 0 auto;
}

.logo-img {
  width: 100%;
}

.wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: black;
}

.text-center {
  text-align: center;
}

h1 {
  font-family: "Beiruti", serif;
  color: rgb(255, 222, 177);
  letter-spacing: 1.5px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  font-size: large;
  margin: 50px;
}

#menu {
  list-style-type: none;
  letter-spacing: 1.5px;
}

#menu>li {
  margin: auto;
}

#sections {
  list-style-type: none;
  font-size: xx-large;
  font-weight: 600;
}

.nav-sections {
  color: rgb(255, 149, 0);
}
.allsections {
  background: #ff9500;
}

nav li a {
  list-style-type: none;
  font-size: larger;
  text-transform: capitalize;
}

nav li a:hover{
  color: rgb(255, 222, 177);
  text-size-adjust: 0.5;
}
main {
  font-family: "Beiruti", serif;
  padding: 0 2rem;
}

.main-splash {
  width: 100%;
  height: auto;
}

footer {

  font-family: "Beiruti", serif;
  height: 10%;
}

p {
  font-family: "Beiruti", serif;
  font-size: xx-large;
  color: rgb(255, 222, 177); 
}

li {
  font-family: "Beiruti", serif;
  color:rgb(255, 222, 177); 
  font-size: xx-large;
}

#signup {
  font-family: "Beiruti", serif;
  color: rgb(255, 222, 177); 
  font-size: x-large;
}

#socialmedia {
  color: rgb(255, 149, 0);
  list-style: none;
  text-align: center;
  display: flex;
  font-size: large;
  justify-content: space-evenly;

}

.gold {
  color: rgb(255, 149, 0) !important;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: large;
  }
  li {
    font-size: large;
  }
}