
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  font-family: "Roboto", serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(39, 23, 1);
}

header {
  font-family: "Roboto", serif;
  margin: 0 auto;
}

.logo-img {
  width: 100%;
  height: auto;
  box-shadow: 0 7px 7px rgb(255, 222, 177);
  
}

.wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: black;
}

.text-center {
  text-align: center;
}

h1 {
  font-family: "RobotO", sans-serif;
  color: rgb(255, 149, 0);
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 0 1.5px 0px rgb(255, 222, 177); 
}

h2 {
  font-family: "Roboto", serif;
  color: rgb(255, 149, 0);
  font-size: 25px;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  font-size: large;
  margin: 50px;
  box-shadow: 0 4px 4px rgb(255, 222, 177);
}

#menu {
  list-style-type: none;
  letter-spacing: 1.5px;
}

#menu>li {
  margin: auto;
}

#sections {
  list-style-type: none;
  font-size: xx-large;
  font-weight: 600;
}

.nav-sections {
  font-size: large;
  color: rgb(255, 149, 0);
}

.allsections {
  background: #ff9500;
}

nav a {
  text-decoration: none;
}

nav li a {
  list-style-type: none;
  font-size: larger;
  text-transform: capitalize;
}
nav li a:hover {
  color: rgb(255, 222, 177);
}

main {
  font-family: "Roboto", serif;
  padding: 0 2rem;
  flex: 1;
}

.main-splash {
  width: 100%;
  height: auto;
}

footer {
  height: 10%;
}

p {
  font-family: "Roboto", serif;
  font-size: xx-large;
  color: rgb(255, 222, 177);
}

.reserved {
  text-align: center;
  font-size: small;
}

li {
  font-family: "Roboto", serif;
  color: rgb(255, 222, 177);
  font-size: xx-large;
}

#signup {
  font-family: "Roboto", serif;
  color: rgb(255, 222, 177);
  font-size: x-large;
}

#socialmedia {
  color: rgb(255, 149, 0);
  list-style: none;
  text-align: center;
  display: flex;
  font-size: large;
  justify-content: space-evenly;

}

.emaillink {
  color: rgb(255, 149, 0);
}

.gold {
  color: rgb(255, 149, 0) !important;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: large;
  }

  li {
    font-size: large;
  }
}